
/* This file is from style.less converted to style.css through cmd (-lessc style.less style.css)*/

/* Colors for my Website */
/* Mixins*/
.tab { 
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;       
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px; 
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.rounded_top {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px; 
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px;
}
#mixin {  
    background: #fff;
    color:#fff; 
    .rounded_top;
}
.submit { 
    .rounded_top;
}


* {
  box-sizing: border-box;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row:after nav {
  border-bottom: 1px solid black;
}
.row:after .crumbs ol {
  list-style-type: none;
  padding-left: 0;
}
.row:after .crumb {
  display: inline-block;
}
.row:after .crumb a::after {
  display: inline-block;
  color: #000;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}
#para1 {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  75% {
    font-size: 150%;
    margin-left: 25%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
